<ng-container *ngrxLet="hasValidResetPassword$ as hasValidLink">
    <ng-container *ngrxLet="user$ as user">
        <mat-card-content class="password-content">
            @defer (when hasValidLink) {
                <h4>Nova senha</h4>
                <form [formGroup]="form">
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <mat-icon matIconPrefix>lock</mat-icon>
                        <input matInput [formControlName]="'password'" [type]="hide[0] ? 'password' : 'text'">
                        <button mat-icon-button matIconSuffix (click)="hide[0] = !hide[0]">
                            <mat-icon>visibility{{ hide[0] ? '' : '_off' }}</mat-icon>
                        </button>
                        @if (password?.invalid) {
                            <mat-error> {{ getFormErrorMessage(password) }}</mat-error>
                        }
                    </mat-form-field>
                    @defer (when password?.value) {
                        <mat-form-field>
                            <mat-label>Confirmar senha</mat-label>
                            <mat-icon matIconPrefix>lock</mat-icon>
                            <input matInput [formControlName]="'confirmPassword'"
                                   [type]="hide[1] ? 'password' : 'text'">
                            <button mat-icon-button matIconSuffix (click)="hide[1] = !hide[1]">
                                <mat-icon>visibility{{ hide[1] ? '' : '_off' }}</mat-icon>
                            </button>
                            @if (confirmPassword?.invalid) {
                                <mat-error> {{ getFormErrorMessage(confirmPassword) }}</mat-error>
                            }
                        </mat-form-field>
                    }
                </form>
            } @loading (minimum 2000) {
                <mat-spinner></mat-spinner>
                <p>Estamos verificando o link. </p>
                <p>Aguarde um instante!</p>
            }

        </mat-card-content>
        <mat-card-actions class="password-actions">
            @if (hasValidLink) {
                <button mat-flat-button [disabled]="form.invalid" (click)="changePassword(user)"> Confirmar </button>
            }
            <a mat-button [routerLink]="['../', RouteList.signIn]"> Voltar</a>
        </mat-card-actions>
    </ng-container>
</ng-container>
