@use '@angular/material' as mat;

@mixin dashboard-card($theme) {

    $type: mat.get-theme-type($theme);

    .dashboard-card {
        display: flex;
        flex-direction: column;
        margin: 1.5rem auto;
        width: 350px;
        .dashboard-card-header {
            margin: 0 15px;
            padding: 0;
            position: relative;
            text-align: right;
            .box-icon {
                border-radius: 2rem;
                padding: 15px;
                margin-top: -20px;
                margin-right: 15px;
                float: left;
                transition: opacity 0.3s;
                .mat-icon {
                    font-size: 36px;
                    line-height: 56px;
                    width: 56px;
                    height: 56px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
        .mat-divider {
            margin: 0 1.25rem;
        }
        .dashboard-card-footer {
            padding: .5rem 1rem;
            .stats {
                font-size: .75rem;
                .mat-icon {
                    margin: 0 .3rem 0 0.5rem;
                    vertical-align: bottom;
                }
            }
        }
    }
}
