@mixin set-vh($value) {
    height: #{$value}vh;
}

@mixin set-vw($value) {
    width: #{$value}vw;
}

@mixin set-h($value) {
    height: $value * 1%;
}

@mixin set-w($value) {
    width: $value * 1%;
}

@mixin helpers() {

    $min: 1;
    $max: 100;
    $step: 1;

    @for $i from $min through $max {
        $class-name: vh-#{$i};
        .#{$class-name} {
            @include set-vh($i);
        }
    }

    @for $i from $min through $max {
        $class-name: vw-#{$i};
        .#{$class-name} {
            @include set-vw($i);
        }
    }

    @for $i from $min through $max {
        $class-name: h-#{$i};
        .#{$class-name} {
            @include set-h($i);
        }
    }

    @for $i from $min through $max {
        $class-name: w-#{$i};
        .#{$class-name} {
            @include set-w($i);
        }
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(0.1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
    }
    .row > * {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }

    .col {
        flex: 1 0 0%;
    }

    .row-cols-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-12 {
        flex: 0 0 auto;
        width: 100%;
    }


    .p-0 {
        padding: 0 !important;
    }

    .pt-0 {
        padding-top: 0 !important;
    }

    .m-0 {
        margin: 0 !important;
    }

    .m-1 {
        margin: .5rem !important;
    }

    .m-2 {
        margin: 1rem !important;
    }

    .m-3 {
        margin: 1.5rem !important;
    }

    .m-4 {
        margin: 2rem !important;
    }

    .m-5 {
        margin: 2.5rem !important;
    }

    .mt-0 {
        margin-top: 0 !important;
    }

    .mt-1 {
        margin-top: .5rem !important;
    }

    .mt-2 {
        margin-top: 1rem !important;
    }

    .mt-3 {
        margin-top: 1.5rem !important;
    }

    .mt-4 {
        margin-top: 2rem !important;
    }

    .mt-5 {
        margin-top: 2.5rem !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .mb-1 {
        margin-bottom: .5rem !important;
    }

    .mb-2 {
        margin-bottom: 1rem !important;
    }

    .mb-3 {
        margin-bottom: 1.5rem !important;
    }

    .mb-4 {
        margin-bottom: 2rem !important;
    }

    .mb-5 {
        margin-bottom: 2.5rem !important;
    }

}
