.check-in-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    .mat-mdc-form-field {
        margin: .5rem 0;
    }
}

.stepper-btns {
    display: flex;
    justify-content: flex-end;
}