<mat-toolbar class="dialog-title">
    <h2 mat-dialog-title> Editar reserva </h2>
    <button mat-icon-button
            [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-divider></mat-divider>
<mat-dialog-content>
    <div class="dialog-content">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    Quarto {{ reservation.roomNumber }}
                    <button mat-icon-button  (click)="editMode = !editMode">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                @if (editMode) {
                    <form [formGroup]="reservationForm">
                        <mat-form-field>
                            <mat-label>Qual a nova data da estadia?</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="startDate" placeholder="Data de entrada" readonly>
                                <input matEndDate formControlName="endDate" placeholder="Data de saída" readonly>
                            </mat-date-range-input>
                            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </form>
                    <form [formGroup]="personalDataForm">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <mat-icon matIconPrefix>person</mat-icon>
                            <input matInput [formControlName]="'name'">
                            @if (name?.invalid) {
                                <mat-error> {{ getFormErrorMessage(name) }}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Número do documento</mat-label>
                            <mat-icon matIconPrefix>badge</mat-icon>
                            <input matInput [formControlName]="'documentNumber'" [mask]="CPF_MASK">
                            @if (documentNumber?.invalid) {
                                <mat-error> {{ getFormErrorMessage(documentNumber) }}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Celular</mat-label>
                            <mat-icon matIconPrefix>smartphone</mat-icon>
                            <input matInput [formControlName]="'mobile'" [mask]="MOBILE_MASK">
                            @if (mobile?.invalid) {
                                <mat-error> {{ getFormErrorMessage(mobile) }}</mat-error>
                            }
                        </mat-form-field>
                    </form>
                } @else {
                    <p>Hóspede: {{ reservation.guest.personalData?.name }}</p>
                    <p>Data de entrada: {{ reservation.startDate }}</p>
                    <p>Data de saída: {{ reservation.endDate }}</p>
                    <p>Status de pagamento: {{ reservation.paymentStatus | titlecase }}</p>
                }
            </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancelar</button>
    <button mat-stroked-button (click)="edit()">Confimar</button>
</mat-dialog-actions>