.password-content {
    margin: 1.5rem 2rem;
    p {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;

        .mat-mdc-form-field {
            margin: .5rem 0;
        }
    }
}

.password-actions {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;

    button,
    a {
        width: 100%;
        margin: .5rem 0;
    }
}
