<!--<ng-container *ngrxLet="roomList$ as roomList">-->
<!--    <ng-container *ngrxLet="selectedRoom$ as selectedRoom">-->
<!--        <ng-container *ngrxLet="selectedReservation$ as selectedReservation">-->

<!--            <div class="container">-->
<!--                <div class="full">-->
<!--                    <h3>Quartos</h3>-->
<!--                </div>-->
<!--                @for (room of roomList; track room) {-->
<!--                    <div class="eight">-->
<!--                        <mat-card class="room-card" appearance="outlined"-->
<!--                                  [class.active]="selectedRoom?.number === room.number"-->
<!--                                  [matTooltip]="room.status | titlecase"-->
<!--                                  (click)="selectRoom(room)" matRipple>-->
<!--                            <mat-icon [class.text-green]="room.status === RoomStatusEnum.free"-->
<!--                                      [class.text-orange]="room.status === RoomStatusEnum.reserved"-->
<!--                                      [class.text-red]="room.status === RoomStatusEnum.busy">meeting_room-->
<!--                            </mat-icon>-->
<!--                            <h4>Quarto {{ room.number }} </h4>-->
<!--                        </mat-card>-->
<!--                    </div>-->
<!--                }-->
<!--            </div>-->
<!--            @if (selectedRoom) {-->
<!--                <div class="full">-->
<!--                    <mat-card class="room-details" appearance="outlined">-->
<!--                        <mat-card-header>-->
<!--                            <mat-card-title> Informações do quarto</mat-card-title>-->
<!--                        </mat-card-header>-->
<!--                        <mat-card-content>-->
<!--                            <p>Quarto {{ selectedRoom?.number }}</p>-->
<!--                            <p>Status: {{ selectedRoom?.status | titlecase }}</p>-->
<!--                            <p>Diária: {{ selectedRoom?.price | currency: 'BRL' }}</p>-->
<!--                            @if (selectedRoom?.status !== RoomStatusEnum.free) {-->
<!--                                <p>Hóspede: {{ selectedReservation?.guest?.personalData?.name | titlecase }} </p>-->
<!--                                <p>CPF: {{ selectedReservation?.guest?.personalData?.documentNumber | cpf }} </p>-->
<!--                                <p>Data de entrada: {{ selectedReservation?.startDate | date: 'dd-MM-yyyy' }} </p>-->
<!--                                <p>Data de saída: {{ selectedReservation?.endDate | date: 'dd-MM-yyyy' }} </p>-->
<!--                                <p>Status de pagamento: {{ selectedReservation?.paymentStatus | titlecase }}</p>-->
<!--                            }-->
<!--                        </mat-card-content>-->
<!--                        <mat-card-actions>-->
<!--                            @if (selectedRoom.status === RoomStatusEnum.busy) {-->
<!--                                <button mat-stroked-button (click)="checkout(selectedRoom)">Fazer check-out</button>-->
<!--                            } @else {-->
<!--                                <button mat-stroked-button (click)="checkin(selectedRoom)">Fazer check-in</button>-->
<!--                            }-->
<!--                        </mat-card-actions>-->
<!--                    </mat-card>-->
<!--                </div>-->
<!--            }-->
<!--        </ng-container>-->
<!--    </ng-container>-->
<!--</ng-container>-->