<ng-container *ngrxLet="loading$ as loading">
    <div class="container">
        <div class="full">
            <h3>Quartos</h3>
        </div>
        <mat-card class="full card" appearance="outlined">
            <div class="head">
                <div>
                    @if (showAddForm) {
                        <button mat-button (click)="showAddForm = false">
                            <mat-icon>arrow_back</mat-icon>
                            Voltar
                        </button>
                    }
                </div>
                <div></div>
                <div>
                    <button mat-stroked-button (click)="showAddForm = true">
                        <mat-icon>add</mat-icon>
                        Adicionar quarto
                    </button>
                </div>
            </div>
            <mat-card-content>
                @if (loading) {
                    <mat-spinner></mat-spinner>
                } @else if (showAddForm) {
                    <form [formGroup]="roomForm">
                        <mat-form-field>
                            <mat-label>Selecione um quarto</mat-label>
                            <mat-select [formControlName]="'description'">
                                <mat-option [value]="RoomType.single"> {{ RoomType.single }}</mat-option>
                                <mat-option [value]="RoomType.doubleBed"> {{ RoomType.doubleBed }}</mat-option>
                                <mat-option [value]="RoomType.studio"> {{ RoomType.studio }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Preço</mat-label>
                            <mat-icon matIconPrefix>number</mat-icon>
                            <input matInput [formControlName]="'price'" currencyMask>
                            @if (price?.invalid) {
                                <mat-error> {{ getFormErrorMessage(price) }}</mat-error>
                            }
                        </mat-form-field>
                    </form>
                } @else {
                    <mat-table [dataSource]="(roomList$ | async) ?? []">
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef> Número</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <mat-header-cell *matHeaderCellDef> Diária</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.price | currency : 'BRL' }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.description }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.status | titlecase }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> Ações</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="delete(element.id)">
                                    <mat-icon [svgIcon]="Icon.trash"></mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                }
            </mat-card-content>
            @if (showAddForm) {
                <mat-card-actions class="add-staff-actions">
                    <button mat-flat-button (click)="add()" [disabled]="loading">Adicionar</button>
                </mat-card-actions>
            }
        </mat-card>
    </div>
</ng-container>